.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav__logo {
  font-family: "Integral";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #3D00B7;
}
.nav__links {
  flex: 0.3;
}
.nav__links ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.04em;
}

.nav__search-buttons {
  flex: 0.55;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.search input {
  width: 300px;
  height: 50px;
  border: 2px solid #efefef;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.upload {
  width: 131px;
  height: 50px;
  color: white;
  background: #3d00b7;
  border-radius: 60px;
}

.connectWallet{
    width: 156px;
height: 50px;
border: 2px solid #3D00B7;
border-radius: 60px;
}
